<div>
  <% @comments.each do |comment| %>
    <%=comment.content%> - <%=comment.author%> - <%=comment.created_at.strftime("%A, %B %d, %Y - %I:%M %p")%>
    <%= link_to "Edit This Comment", edit_post_comment_path(@post, comment) %>
<%end %>
</div>
